body {
	font-family: Verdana, sans-serif;
	color: #333;
    margin:0px;
    background: black;
}

.mainPage {
    height: 674px;
    width: 1150px;
	background-color: black;
}

section {
    display: flex;
    height: 674px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

article {
    float: left;
    text-align: center;
    margin: 10px 20px 10px 10px;
    height: 654px;
    width: 654px;
}

#board_wrapper{
    position: relative;
    height: 654px;
    width: 654px;
}

#board{
    position: absolute; 
    margin: 5px;
    z-index: 0;
}

#arrowCanvas, #contourCanvas, #drawingCanvas, #tempCanvas {
    position: absolute; 
    margin: 5px;
    top: 2px;
    left: 2px;
    opacity: 1;
    z-index: 1;
    pointer-events: none
}

.progressBar {
    position: relative;
    background: #000;
    border: 2px solid #888888;
    width: 16px;
    height: 640px;
    margin: 15px 0px 10px 25px;
}
#progressCanvas {
    position: absolute; 
    top: 0px; 
    left: 0px;
}

nav {
    height: 100%;
}

.rightnav {
    position: relative;
    width: 400px;
    height: 100%;
}

textarea {
    margin-top: 15px;
    width: 100%;
    height: 220px;
    padding: 5px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    letter-spacing: 2px;
    line-height: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background: #dddddd;
}

input[type=text], select {
    width: 100%;
    height: 10%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#pgnLabel {
    margin: 10px;
    color: #cccccc;
}

#actionbuttons {
    display: none;
    text-align: center;
    margin: 10px;
}
.action-button button, .blue-button {
    background: #2ba6cb;
    border-radius: 3px;
    border: 1px solid #1e728c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
    outline: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 60%;
}

#settingForm {
    display: none;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 10px;
    bottom: 0px;
}

#analysisCheckbox, #influenceCheckbox, #drawingCheckbox{
    margin: 10px 10px 10px 20px;
}

label {
    font-family:Verdana;
    color: #aaa;
    font-size: 16px;
}

#rightfooter {
    position: absolute;
    bottom: 0px;
    display: inline-flex;
    padding: 0px 0px 15px 0px;
    width: 100%;
    height: 100px;
}

#analysis {
    position: relative;
    text-align: left;
    width: 60%;
    height: 100%;
}

#evaluation {
    bottom: 0px;
    color: #fff;
    display: inline-flex;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 80%;
    height: 20px;
}

.bestmove{
    width: 35%;
    float: left;
}

.eval{
    width: 35%;
    float: left;
}

.depth{
    width: 30%;
    float: right;
}

#serverStatus{
    position: absolute;
    bottom: 0px;
    background: red;
    border-radius: 3px;
    border: 2px solid white;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    width: 80%;
    height: 40px;
}

#actionsDiv {
    width: 40%;
    height: 100%;
    position: relative;
}


#actionImg{
    position: absolute;
    left: 20px;
    float: left;
    bottom: 0px;
    width: 40px;
    height: 40px; 
    background: black;
}

#settingImg{
    position: absolute;
    left: 100px;
    float: right;
    bottom: 0px;
    width: 40px;
    height: 40px; 
    background: black;
}