body {
	font-family: Verdana, sans-serif;
	color: #333;
	margin:0px;
}

h1 {
    font-family:Verdana;
    color: blue;
    font-size: 36px;
}

#board_wrapper{
    position: relative;
    margin: 5px;
}

#board{
    position: absolute; 
    top: 10px; 
    left: 10px;
    z-index: 0;
}

#arrowCanvas, #contourCanvas, #circleCanvas {
    position: absolute; 
    top: 12px; 
    left: 12px;
    opacity: 1;
    z-index: 1;
    pointer-events: none
}

#footer{
    position: relative;
    top: 660px;
    left: 15px;
}
