body {
	font-family: Verdana, sans-serif;
	color: #333;
    margin:0px;
    background: black;
}

.mainPage {
    height: 98vh;
    width: 140vh;
	background-color: #000000;
}
  /*setting all the children to the same height for the section*/
  section {
    display: flex;
    height: 100%;
  }

  /* Create columns that float next to each other (navs and articles)*/
  nav {
    float: left;
    padding: 5px;
  }

  .leftnav {
    width: 18%;
  }

  .rightnav {
    width: 18%;
  }
  
  article {
    float: left;
    text-align: center;
    padding: 5px;
    height: 100%;
    width: 64%;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
   }

#footer{
    position: relative;
    top: 660px;
    left: 15px;

}

#board_wrapper{
    position: relative;
    margin: 5px;
}

#board{
    position: absolute; 
    top: 10px; 
    left: 10px;
    z-index: 0;
}

#arrowCanvas, #contourCanvas, #circleCanvas {
    position: absolute; 
    top: 12px; 
    left: 12px;
    opacity: 1;
    z-index: 1;
    pointer-events: none
}


.action-button button, .blue-button {
    background: #2ba6cb;
    border-radius: 3px;
    border: 1px solid #1e728c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
  }

  .progress {
      height: 30px;
      width: 640px;
      transform: rotate(90deg) translateX(323px) translateY(110px);
  }

  h1 {
    font-family:Verdana;
    color: blue;
    font-size: 36px;
}
